.upperrow{
    margin-top: 70px;
}
.twobuttons{
    margin-left: 10px;
}
.amountonright{
    text-align: center;
}
.clearfixe{
    direction: rtl;
    /* display: flex; */
    /* justify-content: flex-end; */
}
h1,h4{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}
div{
    margin-bottom: 5px;
}
NavbarBrand{
    margin-left: 7px;
}
.mystyle{
    border-right: 1px solid grey;
}