body {
    background-color: rgb(113, 85, 170);
}

.welcome__header {
    display: flex;
    align-items: right;
    justify-content: flex-end;
}

h3 {
    color: rgb(230,230,250);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color: rgb(113, 85, 170);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 17px;
    padding-right: 15px;
}
