body {
    background-color: rgb(230,230,250);
}
.topcolumn{
    /* border: 1px solid black; */
    justify-content: end;
    margin-bottom: 10px;
}
tr {
    /* padding: auto; */
    background-color: white;
}
Input::placeholder{
    text-align: left;
}
#collasible-nav-dropdown {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
}
.navdd {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
}
.navbar{
    background-color: rgb(113, 85, 170);
    color: white;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#midnavitem{
    display:inline-block;
    text-align: center;
}
a {
    color:white;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:hover {
    color:white;
    text-decoration: none;
}
span {
    color:white;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    vertical-align: middle;
}
.tab-title {
    color:rgb(113, 85, 170);
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.container-fluid {
    margin-top: 40px;
}

